.cabecalho{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(4, 141, 95) ;
    padding: 15px 20px;
    color: blue;
}
.cabecalho_logo{
    margin-bottom: 0,5rem;
    height: 60px;
}
.logo{
    font-size: 1.2em;
    font-weight: bold;
    color: aquamarine;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 20px;}

    .menu a{
        font-size: 1.2em;
        color: aliceblue;
        text-decoration: none;
        padding: 8px 12px;
    }

    .menu a:hover{
        background-color: black;
        border-radius: 4px;
        color: aliceblue;
    }

    /*Responsivo para telas menores*/
    @media(max-width: 568px){
        .cabecalho{
            flex-direction:column;
            align-items: flex-start;
        }
        .cabecalho_logo{
            display: none;
        }
        .menu ul{
            flex-direction: column;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .menu li{
            width: 100%;
        }

        .menu a{
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }